*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;
    position: fixed;
}
.main_container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 50vw;
    height: 27vh;
    margin: 30px;
}
.logoImg{
    width: 100%;
    height: 100%;
}
.buttons{
    margin: 50px;
}
.ajustes .titleSettings{
    display:flex;
    justify-content:right;
}
.ajustes{
    background-color:rgb(3, 3, 59);
}
.usuario{
    background-color:rgb(3, 3, 59);
}